body {
    font-family: Overpass;
    font-size: 12px;
    font-weight: 400;
    color: #d3d3d3;
    background-color: #1e1b25;
}

h1 {
    margin-left: 15;
    margin-top: 50;
    margin-bottom: 50;
    font-size: 50px;
    font-weight: 200;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

button {
    font-family: Overpass;
    font-size: 14px;
    font-weight: 400;
    background-color: #1e1b25;
    color: #8d87aa;
    padding: 10px;
    margin-right: 20px;
}

button:hover {
    color: #4d0be6;
    background-color: #8d87aa;
}

.selected {
    color: #4d0be6;
    background-color: #8d87aa;
}

#matrix {
    width: 10000px;
    height: 10000px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #1e1b25;
}

.rowTitle {
    background-color: #8d87aa;
    overflow: hidden;
    border:1px solid #d3d3d3;
    width: 50px;
    height: 120px;
    float: left;
    text-align: center;
}

.rowTitleTxt {
    width: 100%;
    height: 100%;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    -o-transform: rotate(270deg);
    -o-transform-origin: 50% 50%;
    transform: rotate(270deg);
    transform-origin: 50% 50%;
    position: relative;
    left: 50px;
    top: 20px;

    /* IE<9 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.startRow {
    clear: left;
}

.colTitle {
    background-color: #8d87aa;
    overflow: hidden;
    border:1px solid #d3d3d3;
    width: 250px;
    height: 35px;
    float: left;
    text-align: center;
    position: relative;
    left: 52px;
    padding-top: 15px;
}

.cell {
    background-color: #1e1b25;
    overflow: hidden;
    border:1px solid #d3d3d3;
    width: 250px;
    height: 120px;
    float: left;
    text-align: center;
}

.images {
    height: 120px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
    top: 0px;
}

.spatialImg {
    visibility: hidden;
    position: absolute;
    top: -10px;
    left: 0px;
    width: 250px;
}

.plotImg {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: -50px;
    width: 150px;
}

.visible {
    position: relative;
    visibility: visible;
}

.plot1 {
    top: -85px;
}

.plot2 {
    top: -235px;
}

.plot3 {
    top: -370px;
}

.plot4 {
    top: -515px;
}

.plot5 {
    top: -675px;
}
