.spatial {
    top: -150px;
    left: -315px;
    width: 380px;
}

.plot1 {
    top: -266px;
    left: -1589px;
    width: 1600px;
}

.plot2 {
    top: -567px;
    left: -1589px;
    width: 1600px;
}

.plot3 {
    top: -867px;
    left: -1589px;
    width: 1600px;
}

.plot4 {
    top: -1168px;
    left: -1589px;
    width: 1600px;
}

.plot5 {
    top: -1468px;
    left: -1589px;
    width: 1600px;
}
